@font-face{
    font-family: 'D-DINCondensed';
    src: url(../font/D-DINCondensed.otf);
}
  
html{
    box-sizing: border-box;
}
  
*, 
*:before,
*:after{
    box-sizing: inherit;
}
  
body{
    font-family: 'D-DINCondensed';
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, #0099ff, #ffcc00);
    color: white;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-position: center;
    -webkit-animation: achtergrond 18s ease-in-out infinite;
    -moz-animation: achtergrond 18s ease-in-out infinite;
    animation: achtergrond 18s ease-in-out infinite;
}

@-webkit-keyframes achtergrond {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@-moz-keyframes achtergrond {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@keyframes achtergrond {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}

.header, .main{
    padding: 0.2em 1em;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

header img{
    max-width: 90%;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10em;
    left: 1.5em;
}

#clock{
    text-align: center;
    width: 300px;
    height: 300px;
}

#tijd{
    margin-top: 2em;
    font-size: 60px;
}

#datum{
    font-size: 25px;
    margin-top: -1em;
}

#welkomBericht{
    text-align: center;
}

#zon{
    margin-top: -80%;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    z-index: 9;
    animation-name: zon;
    animation-duration: 15s;
    animation-delay: 10s;  
    animation-fill-mode: forwards;
}

#wolken{
    margin-left: -24em;
    z-index: 99;
    position: absolute;
    animation-name: wolken;
    animation-duration: 28s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes wolken {
    0%   {left:0px; top:0px;}
    100%  {left:600px; top:0px;}
  
  }

  @keyframes zon {
    0%   {left:0px; top:0px;}
    100%  {left:0px; margin-top:1em; animation-timing-function: ease-in-out;}
  
  }


  @media only screen and (min-width: 601px){
    main{
        margin-left: 12em;
        margin-top: 6em;
    }

    #zon{
        height: 30%;
        width: 50%;
    }

    #wolken{
        margin-left: -44em;
        animation-duration: 35s;
    }

    @keyframes zon {
        0%   {left:0px; top:0px;}
        100%  {left:0px; margin-top:0em; animation-timing-function: ease-in-out;}
      
      }
  }

  @media only screen and (min-width: 1200px){
    main{
        margin-left: 33em;
        margin-top: 2em;
    }

    #zon{
        height: 30%;
        width: 50%;
    }

    #wolken{
        margin-left: -55em;
        animation-duration: 45s;
    }

    @keyframes wolken {
        0%   {left:0px; top:0px;}
        100%  {left:1000px; top:0px;}
      
      }

    @keyframes zon {
        0%   {left:0px; top:0px;}
        100%  {left:5em; margin-top:0em; animation-timing-function: ease-in-out;}
      
      }


  }